In [12]:
import pandas as pd
import numpy as np

Standard deviation is the spread of how far the values are from the mean. The higher the standard deviation, the more spread out the values are.\
The standard deviation of the means (plural) is the standard error. Let me explain.

If you have a group of 5 mice and weigh them, there will be a mean as well as a standard deviation value, that shows how spread out the values are from the mean.\
If you repeat this experiment with 4 other groups of different mice, you will have 4 other means as well as 4 other standard deviation values (these are not important).\
The standard error is simply the standard deviation of these 5 resulting means.

In [13]:
df = pd.DataFrame({
    'Mouse 1': [5,10,7,12,9],
    'Mouse 2': [7,14,16,8,7],
    'Mouse 3': [8,4,6,13,18],
    'Mouse 4': [17,15,6,13,8],
    'Mouse 5': [14,8,9,15,16],
})

In [14]:
df

   Mouse 1  Mouse 2  Mouse 3  Mouse 4  Mouse 5
0        5        7        8       17       14
1       10       14        4       15        8
2        7       16        6        6        9
3       12        8       13       13       15
4        9        7       18        8       16

In [15]:
mean_1 = df['Mouse 1'].mean()
mean_2 = df['Mouse 2'].mean()
mean_3 = df['Mouse 3'].mean()
mean_4 = df['Mouse 4'].mean()
mean_5 = df['Mouse 5'].mean()

In [16]:
print(f'Mean 1 = {mean_1}')
print(f'Mean 2 = {mean_2}')
print(f'Mean 3 = {mean_3}')
print(f'Mean 4 = {mean_4}')
print(f'Mean 5 = {mean_5}')

Mean 1 = 8.6
Mean 2 = 10.4
Mean 3 = 9.8
Mean 4 = 11.8
Mean 5 = 12.4

In [17]:
std_1 = df['Mouse 1'].std()
std_2 = df['Mouse 2'].std()
std_3 = df['Mouse 3'].std()
std_4 = df['Mouse 4'].std()
std_5 = df['Mouse 5'].std()

In [18]:
print(f'Standard Deviation 1 = {std_1}')
print(f'Standard Deviation 2 = {std_2}')
print(f'Standard Deviation 3 = {std_3}')
print(f'Standard Deviation 4 = {std_4}')
print(f'Standard Deviation 5 = {std_5}')

Standard Deviation 1 = 2.701851217221259
Standard Deviation 2 = 4.277849927241488
Standard Deviation 3 = 5.674504383644443
Standard Deviation 4 = 4.658325879540846
Standard Deviation 5 = 3.646916505762094

Above we have 5 means of the experiments and 5 standard deviations. Some observations may include that fact that group 5 has the highest mean but one of the lowest standard deviations, or spread of values. Group 3 has one of the lowest means but the highest spread of values.

In [19]:
means = pd.Series([mean_1, mean_2, mean_3, mean_4, mean_5])

In [20]:
means

0     8.6
1    10.4
2     9.8
3    11.8
4    12.4
dtype: float64

In [21]:
print(f'Mean of the means = {means.mean()}')
print(f'Standard deviation of the means = {means.std()}, this is the Standard Error')

Mean of the means = 10.6
Standard deviation of the means = 1.5297058540778357, this is the Standard Error

We can also find the standard error using the equation SE = SD (of population) / n ** 0.5
This means that we take the standard deviation of the population and divide it by the square root of the number of samples (n). I am not 100% sure that what I've done below is correct but it may be inaccurate due to the small sample size.

In [52]:
pop = []
df.apply(lambda x: pop.append(x))
pop
print(np.mean(pop))
print(np.std(pop))
print(np.std(pop)/5**0.5)

10.6
4.089009660052175
1.8286607121059937